body {
  background-color: #191919;
  margin: 0;
  padding: 0;
  width: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  
  gap: 8px;
}
.card {
  width: 352px;
  height: 280px;
  background-color: #1d1d1d;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.card img {
  width: 100%;
  height: 60%;
}
.card-content {
  padding: 7px 16px 16px 16px;
}
.card-content h {
  padding-top: 40px;
  font-size: 17px;
  margin-bottom: 8px;
  color: #fff;
}
.card-content p {
  color: #cccccc;
  font-size: 15px;
  line-height: 1.3;
  display: inline-block;
  width: 48%;
}
.logo {
  display: flex;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
  padding-bottom: 6px;
}
.logo img {
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
}

.slider-container {
  position: relative;
}
.slider-wrapper {
  position: relative;
  width: 100%;
  margin: 0 0;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 100%;
  height: 93vh;
  aspect-ratio: 16/9;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  /*
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none; */
  animation: slider-animation 30s infinite;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity 2s ease-out;
}
.slider-nav a:hover {
  opacity: 1;
}
.nav-bar {
  /* height: 50px; */
  height: 7vh;
  display: flex;
  background-color: #000;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
.nav-bar nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.nav-bar img {
  height: 70px;
  width: 80px;
}
.nav-bar li a:hover {
  color: rgb(165, 165, 165);
}
.nav-bar li {
  display: inline-block;

  padding: 0 20px;
}
.nav-bar li a {
  color: #fff;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

@keyframes slider-animation {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-200%);
  }
  40% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  70% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
/*how bout now neiigahhh?/